body {
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Lalezar', sans-serif !important;
    letter-spacing: 1px !important;
}

div {
    padding: 0px !important;
}

.background {
    background-repeat: no-repeat;
    background-size: calc(400px + 79vmax);
    background-position: top left;
}

/* Adds the extra text just to test if the navbar functions properly */
.test {
    margin-bottom: 2000px;
}