/* ============================================== */
.contact {
    background-color: rgba(0, 0, 0, 0.678)
}

.navicon {
    color: white;
    background-color: rgb(192, 0, 0);
    font-size: 25px !important;
    border-radius:  6px;
    transition: all 0.4s ease-in-out;
    padding: 4px 0px;
    
}

.navicon:hover {
    background-color: rgb(141, 0, 0);
    font-size: 40px !important;
}

a.twitter.btn, a.google.btn, a.youtube.btn {
    padding: 3px 0px;
    float: right;
}

/* ============================================== */

.header {
    background-color: rgba(0, 0, 0, 0.486);
    padding: 20px 0px;
    /* ADJUSTS THE SPEED OF THE NAVBAR COMING IN AND OUT UPON SCROLLING: */
    transition: all 0.4s ease-in-out;
}

.header:hover {
    background-color: rgba(0, 0, 0, 0.582);
}

/* ============================================== */

/* TTT NAVBAR IMAGE */
.ttt-img {
    width: calc(100px + 10vmax);
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    transition: all 0.2s ease-in-out;
}

.ttt-img:hover {
    transform: scale(1.15);
    -webkit-filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
}

/* ============================================== */

/* THE DIV RESIZING BELOW IS USED TO CENTER THE NAVBAR LINKS IN THE NAV */
div.col-7 {
    margin-top: calc(4px + 2.5vmin) !important;
}

/* ============================================== */

/* CUSTOMIZING THE LINKS: */
.navbar-link {
    color: white;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    text-decoration: none;
    margin-left: calc(10px + 2vmax);
    line-height: 10px;
    padding-bottom: 20px;

    transition: all 0.2s ease-in-out;
}

/* ^ HOVER ^ */
.navbar-link:hover {
    color: rgb(182, 182, 182);
    text-shadow: 2px 2px 7px black;
    text-decoration: none;
    font-size: calc(13px + 1.2vmax);
}

/* ============================================== */

/* THE ACTIVE (CURRENT PAGE) ITEM ON THE NAVBAR */
.navbar-link.active {
    font-weight: bolder;
    color: rgb(192, 0, 0);
}

/* ^ HOVER ^ */
.navbar-link.active:hover {
    color: rgb(155, 0, 0);
}

/* ============================================== */

/* THIS BELOW IS THE 3 LINES ICON AKA MORE OPTIONS BUTTON FOR WHEN THE SCREEN GETS SMALLER */
.topnav a.icon {
    color: white;
    font-size: 30px;
}

.topnav a.icon:hover {
    color: rgb(139, 139, 139);
}

.topnav a.icon:active {
    color: rgb(139, 139, 139);
}


/* EVERYTHING ELSE BELOW IS FOR THE RESPONSIVE NAVBAR SUPPORT */
.responsive-nav-btn {
    margin-left: -30px;
}

.topnav .icon {
    display: none;
    border: 1px solid rgba(255, 255, 255, 0.301);
    background-color: rgba(0, 0, 0, 0.26);
    border-radius: 3px
}

@media screen and (max-width: 786px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: block;
    }
  }
  
  @media screen and (max-width: 786px) {
    .topnav.responsive a {
      display: block;
    }
  }