.header {
    background-color: rgba(0, 0, 0, 0.466);
    padding: 20px 0px;
    /* ADJUSTS THE SPEED OF THE NAVBAR COMING IN AND OUT UPON SCROLLING: */
    transition: all 0.4s ease-in-out;
}

.header:hover {
    background-color: rgba(0, 0, 0, 0.582);
    /* box-shadow: 0px 0px 10px black; */
}

/* ============================================== */

/* TTT NAVBAR IMAGE */
.ttt-img {
    width: calc(100px + 10vmax);
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    filter: drop-shadow(3px 3px 1px rgb(0, 0, 0));
    transition: all 0.2s ease-in-out;
}

.ttt-img:hover {
    transform: scale(1.15);
    -webkit-filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
    filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
}

/* ============================================== */

/* THE DIV RESIZING BELOW IS USED TO CENTER THE NAVBAR LINKS IN THE NAV */
div.col-7 {
    margin-top: calc(4px + 0.6vmax) !important;
}

/* ============================================== */

/* CUSTOMIZING THE LINKS: */
.navbar-link {
    color: white;
    font-size: calc(13px + 1vmax);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-decoration: none !important;
    padding: 10px !important;
    margin-left: calc(14px + 7vmin);
    line-height: 10px;
    transition: all 0.2s ease-in-out;
}

/* ^ HOVER ^ */
.navbar-link:hover {
    color: rgb(182, 182, 182) !important;
    font-size: calc(18px + 1vmax);
}

/* ============================================== */

/* THE ACTIVE (CURRENT PAGE) ITEM ON THE NAVBAR */
.navbar-link.active {
    font-weight: bolder;
    color: rgb(192, 0, 0) !important;
}

/* ^ HOVER ^ */
.navbar-link.active:hover {
    color: rgb(155, 0, 0) !important;
}

/* ============================================== */

/* THIS BELOW IS THE 3 LINES ICON AKA MORE OPTIONS BUTTON FOR WHEN THE SCREEN GETS SMALLER */
.topnav a {
    color: white;
    font-size: 20px
}

.topnav a:hover {
    color: white;
}

.topnav a:active {
    color: rgb(139, 139, 139);
}


/* EVERYTHING ELSE BELOW IS FOR THE RESPONSIVE NAVBAR SUPPORT */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      display: block;
    }
  }